{% extends 'partials/base.html.twig' %}
{% do form.init %}

{% block body %}
    <div id="main_participacoes" class="flex-grow flex flex-col relative {{ page.header.body_classes|e }}">
       <div class="container mx-auto">
            <section id="header" class="relative">
                <img id="logos" class="absolute w-20 xl:w-28" src="{{ url('theme://images/GIF_SBG.gif') }}" alt="">
                <img alt="" class="scroll-down bounce absolute max-auto w-12" src="{{ url('theme://images/scroll-down.svg') }}">
            </section>
            <section id="steps" class="relative">
                <div class="flex flex-wrap justify-center items-center my-8 md:my-6 xl:my-10 2xl:my-0">
                    <div class="hidden 2xl:flex 2xl:w-1/4"></div>
                    <div class="w-1/3 xl:w-1/2 2xl:w-1/4"></div>
                    <div class="w-2/3 xl:w-1/2 2xl:w-1/4 mx-auto">
                        <div class="step-wrapper pl-3 pr-2 md:pl-0 md:pr-3 xl:pl-4 xl:pr-16 2xl:pr-0 2xl:pl-3">
                            <span class="list-num text-white sm:text-green lg:text-white xl:text-green text-4xl font-bold font-helveticaCond">01</span><br>
                            <p>Vamos levar a tua casa um presente de Natal, uma árvore e um enfeite para começares a enfeitá-la.</p>
                        </div>
                    </div>
                    <div class="hidden 2xl:flex 2xl:w-1/4"></div>
                </div>
                <div class="flex flex-wrap justify-center items-center my-8 md:my-6 xl:my-10 2xl:my-0">
                    <div class="hidden 2xl:flex 2xl:w-1/4"></div>
                    <div class="w-2/3 xl:w-1/2 2xl:w-1/4 mx-auto">
                        <div class="step-wrapper md:pl-8 xl:pl-0 xl:pr-16 2xl:pr-0 2xl:pl-8">
                            <span class="list-num text-red text-4xl font-bold font-helveticaCond">02</span><br>
                            <p>Enfeita o teu pinheiro e participa no concurso da melhor árvore de Natal do Village. Só tens que enviar uma fotografia para mostrar como ficou.</p>
                        </div>
                    </div>
                    <div class="hidden 2xl:flex 2xl:w-1/4"></div>
                    <div class="hidden 2xl:flex 2xl:w-1/4"></div>
                </div>
                <div class="flex flex-wrap justify-center items-center my-8 md:my-6 xl:my-10 2xl:my-0">
                    <div class="hidden 2xl:flex 2xl:w-1/4"></div>
                    <div class="w-1/3 xl:w-1/2 2xl:w-1/4"></div>
                    <div class="w-2/3 xl:w-1/2 2xl:w-1/4 mx-auto">
                        <div class="step-wrapper pr-2 pl-3 md:pr-3 md:pl-0 xl:pl-4 xl:pr-16 2xl:pr-0 2xl:pl-3">
                            <span class="list-num text-green lg:text-white xl:text-green text-4xl font-bold font-helveticaCond">03</span><br>
                            <p>Ajuda-nos encontrar a melhor árvore de Natal votando nas três que mais gostas. O dono da mais votada receberá um presente para colocar no sapatinho.</p>
                        </div>
                    </div>
                    <div class="hidden 2xl:flex 2xl:w-1/4"></div>
                </div>
                <div class="flex flex-wrap justify-center items-center my-8 md:my-6 xl:my-10 2xl:my-0">
                    <div class="hidden 2xl:flex 2xl:w-1/4"></div>
                    <div class="w-2/3 xl:w-1/2 2xl:w-1/4 mx-auto pb-8">
                        <div class="step-wrapper md:pl-8 xl:pl-0 xl:pr-16 2xl:pr-0 2xl:pl-8">
                            <span class="list-num text-red text-4xl font-bold font-helveticaCond">04</span><br>
                            <p>Depois das Festas, vamos continuar a partilhar os nossos pinheiros com o mundo. Portanto, não o deites fora e planta-o onde quiseres. Se não souberes onde plantá-lo, temos algumas sugestões.</p>
                        </div>
                    </div>
                    <div class="hidden 2xl:flex 2xl:w-1/4"></div>
                    <div class="hidden 2xl:flex 2xl:w-1/4"></div>
                </div>
            </section>
            <section id="ganhar" class="relative">
                <div class="flex flex-wrap items-center relative">
                    <div class="w-full text-center sm:text-left md:w-1/2 py-4 md:pl-8 xl:pl-20 2xl:pl-32 xl:py-12">
                        <h3 class="text-white leading-tight">Da árvore de Natal <br> para um dia muito especial</h3>
                        <p class="text-white pb-4">Participa para ganhares este presente.</p>
                        <p class="mx-auto text-sm">Vê <a href="{{ url('theme://images/regras.pdf') }}" target="_blank" class="underline">aqui</a> tudo o que precisas de saber</p>
                    </div>
                    <div class="hidden md:w-1/2 relative"></div>
                </div>
            </section>
            <section id="form" class="relative px-5 md:px-0">
                <div class="w-full md:w-1/2 xl:w-1/3 mx-auto xl:py-12 relative">
{#                    <h3 class="text-white text-center">Não é só para enfeitar</h3>#}
                    <h3 class="text-white text-center pt-40 md:pt-32">Obrigado pela tua participação.</h3>
{#                    <p class="text-white text-center mb-5 md:mb-0">Mostra-nos a tua árvore de Natal</p>#}
{#                    {% include 'forms/form.html.twig' with { form: forms('profile-form') } %}#}
                </div>
            </section>
           <section id="participation-grid" class="relative">
               <div class="items-center px-2 lg:px-2 xl:px-10">
                   <h3 class="text-center text-white">As árvores de Natal do Village</h3>
                   <div class="flex flex-wrap flex-col flex-grow relative"
                        id="grid_wrapper"
                        x-ref="grid_p"
                        x-data="searchApp()"
                        x-init="fetch()">
                       <div class="filters w-full flex-wrap justify-center items-center my-5">
                           <input type="radio" id="todas" name="todas" checked value="" x-model="query.team"
                                x-on:change="selected = true;query.page = 1;fetch(true);">
                           <label for="todas" class="cursor-pointer whitespace-nowrap mb-3 md:mb-0" :class="{'isSelected':isSelected('')}">
                               <img alt="" class="mr-1" src="{{ url('theme://images/done.svg') }}">Todas
                           </label><br>
                           {% for opt in site.team %}
                           <input type="radio" id="{{ opt }}" name="{{ opt }}" value="{{ opt }}" x-model="query.team"
                                  x-on:change="selected = true;query.page = 1;fetch(true);">
                           <label for="{{ opt }}" class="cursor-pointer whitespace-nowrap mb-3 md:mb-0" :class="{'isSelected':isSelected('{{ opt }}')}"><img alt="" class="mr-1" src="{{ url('theme://images/done.svg') }}">{{ opt }}</label><br>
                           {% endfor %}
                       </div>
                       <div class="w-full flex flex-wrap justify-center justify-between mb-2">
                           <div class="mb-3 md:md-0 w-full md:w-1/4">
                               <p class="text-sm text-center md:text-left"><span x-text="count"></span> árvores</p>
                           </div>
                           <div class="mb-3 md:md-0 w-full md:w-1/4">
                               <div class="search-wrapper border-b-2 w-full flex justify-center">
                                   <label>
                                       <select class="border-none focus:ring-0 text-sm" x-model="query.sort"
                                               x-on:change="query.page = 1;fetch(true)">
                                           <option value="date" selected>Mais Recentes</option>
                                           <option value="nome">Ordem alfabética</option>
                                           <option value="likes">Mais Votadas</option>
                                       </select>
                                   </label>
                               </div>
                           </div>
                       </div>
                       <div x-ref="overlay" id="overlay" x-show="!finished"
                            x-transition:enter="ease-out duration-300"
                            x-transition:enter-start="opacity-0 scale-90"
                            x-transition:enter-end="opacity-100 scale-100"
                            x-transition:leave="ease-in duration-0"
                            x-transition:leave-start="opacity-100 scale-100"
                            x-transition:leave-end="opacity-0 scale-90"
                            class="w-full h-full flex-grow flex flex-col justify-center items-center transition ease-in transform absolute z-10 ">
                           <div class="spinner">
                               <div class="spinner-item"></div>
                               <div class="spinner-item"></div>
                           </div>
                       </div>
                       <div x-ref="grid" id="grid" x-show="finished"
                            x-transition:enter="ease-out duration-300"
                            x-transition:enter-start="opacity-0 scale-90"
                            x-transition:enter-end="opacity-100 scale-100"
                            x-transition:leave="ease-in duration-0"
                            x-transition:leave-start="opacity-100 scale-100"
                            x-transition:leave-end="opacity-0 scale-90"
                            class="w-full flex flex-wrap transition ease-in transform">
                       </div>

                           <div class="flex flex-nowrap w-full items-center justify-center text-center mt-2 mb-12">
                               <a href="" @click.prevent="fetch()" class="btn">
                                   VER MAIS
                               </a>
                           </div>
                   </div>
               </div>
           </section>
       </div>
        <img alt="" class="absolute bottom-0 left-0 w-32" src="{{ url('theme://images/triangles/small-red-triangle.svg') }}">
        <img alt="" class="absolute bottom-0 right-0 w-20" src="{{ url('theme://images/triangles/small-pink-triangle.svg') }}">
    </div>
    <script>
        let searchApp = () => {
            return {
                selected: false,
                active: false,
                finished: false,
                count: 0,
                query: {
                    team: '',
                    sort: 'date',
                    page: 1,
                },

                totalTrees(){ return this.query.team|length },

                isSelected(opt) { return this.query.team === opt },

                makeURL() {
                    let url = '/grid?per_page=18';

                    if (this.query.page) {
                        url = `${url}&page=${encodeURIComponent(this.query.page)}`;
                    }
                    if (this.query.team) {
                        url = `${url}&team=${encodeURIComponent(this.query.team)}`;
                    }
                    if (this.query.sort) {
                        url = `${url}&sort=${encodeURIComponent(this.query.sort)}`;
                    }

                    return url;
                },

                fetch(reset = false) {
                    if (reset) {
                        this.finished = false;
                    }
                    fetch(this.makeURL())
                        .then(response => response.text())
                        .then(html => {
                            if (reset) {
                                document.getElementById('grid').innerHTML = html;
                                this.finished = true;
                                this.count = parseInt(document.getElementById('grid_count_page_' + this.query.page).value);
                                this.query.page += 1;
                            } else {
                                document.getElementById('grid').innerHTML += html;
                                this.finished = true;
                                this.count = parseInt(document.getElementById('grid_count_page_' + this.query.page).value);
                                // this.count += parseInt(document.getElementById('grid_count_page_' + this.query.page).value);
                                this.query.page += 1;
                            }
                        });
                }
            }
        }
    </script>
{% endblock %}
